<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Registro de rutas</title>
</head>

<body>
    <div class="register-form">
        <form action="/registerRutas" method="POST">
            <br>
            <label for="ruta">Ingrese el punto de partida</label>
            <br>
            <br>
        
            <input type="text" name="partida" id="partida" required tabindex="1" autofocus>
            <br>
            <br>

            <label for="ruta">Ingrese las paradas intermedias</label>
            <br>
            <br>
        
            <input type="text" name="p1"  id="p1 " tabindex="2" autofocus>
            <small id="names" class="form-text text-muted">Si no tiene paradas intermedias deje este campo vacío</small>
            <br>
            <br>

            <label for="ruta">Ingrese las paradas intermedias</label>
            <br>
            <br>
        
            <input type="text" name="p2" id="p2" tabindex="3" autofocus>
            <small id="names" class="form-text text-muted">Si no tiene paradas intermedias deje este campo vacío</small>
            <br>
            <br>

            <label for="ruta">Ingrese las paradas intermedias</label>
            <br>
            <br>
        
            <input type="text" name="p3" id="p3" tabindex="4" autofocus>
            <small id="names" class="form-text text-muted">Si no tiene paradas intermedias deje este campo vacío</small>
            <br>
            <br>

            <label for="ruta">Ingrese el punto de llegada</label>
            <br>
            <br>
        
            <input type="text" name="llegada" id="llegada" required tabindex="5" autofocus>
            <br>
            <br>

            

            <label for="ruta">Ingrese su numero de contacto</label>
            
            <br>
            <input type="text" name="phone" required tabindex="2" autofocus>
            <br>


            <br>

            <label for="start">Ingrese la fecha del viaje</label>
            <br>
            <br>
            

<input type="date" id="start" name="trip" class="btn-date"
       value="2018-07-22"
       min="2022-01-01" max="2025-12-31">

       <div style="display: inline;" >
        <input type="submit" class="btn-save" value="Subir ruta">
    </div>
            <div style="display: inline;" >
                <a href="inicioUsuarioN" class="btn-save" >Volver</a>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton%> ,
                timer: <%= timer %>
            }).then(()=>{
                window.location= '/<%= ruta %>'
            })
        </script>
        <% } %>


    <script src="/listaEnlazada.js"></script>

</body>

</html>