<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Register</title>
</head>

<body>
    <div class="register-form">
        <form action="/registerCarros" method="POST">
            <br>
            <label for="car">Ingrese la placa de su vehiculo</label>
            <br>
            <br>
            <input type="text" name="car" required tabindex="1" autofocus>
            <div style="display: inline;" >
                <input type="submit" class="btn-save" value="Registrar vehiculo">
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton%> ,
                timer: <%= timer %>
            }).then(()=>{
                window.location= '/<%= ruta %>'
            })
        </script>
        <% } %>

</body>

</html>